<section>
    <div class="text-center" style="margin-bottom: 15px;">
        <h1>Interaction Records</h1>
        <div class="btn btn-primary" ng-click="createNew()" ng-hide="showForm"><i class="fa fa-plus-circle"></i> Create New Interaction Record</div>
    </div>
    <div class="row" ng-if="showForm">
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <interactionrecord></interactionrecord>
        </div>
    </div>

    <div ng-show="records.length > 0" class="row">
        <loadingindicator ng-show="loadingProductIndicator"></loadingindicator>
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <table class="table table-striped table-hover" style="background-color: #FFF">
                <thead>
                    <tr>
                        <th>Edit</th>
                        <th>Description</th>
                        <th>More Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="record in records">
                        <td><i class="fa fa-edit" style="cursor: pointer;" ng-click="editRecord(record)"></i></td>
                        <td>{{record.Specs.Description.Value}}</td>
                        <td>{{record.Specs.Notes.Value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>